pandas
numpy
scipy
scikit-learn
joblib
requests
python-dotenv
xgboost
lightgbm
catboost
shap
requests>=2.32.3
httpx>=0.28.1
python-dotenv>=1.0.1
pandas>=2.2.3
numpy>=2.2.4
pyarrow>=19.0.1
scipy>=1.15.2
scikit-learn>=1.6.1
statsmodels>=0.14.4
xgboost>=2.1.4
lightgbm>=4.6.0
catboost
shap
matplotlib>=3.9,<3.11
seaborn>=0.13.2
plotly>=6.0.1
tqdm>=4.67.1
joblib>=1.4.2
pyyaml>=6.0.2
jupyter>=1.1.1
ipykernel>=6.29.5
